.apple-watch {
  font-family: "Helvetica Neue", "Helvetica";
  width: 400px;
  height: 520px;
  background-color: #000;
  border-radius: 40px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

.display {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(2, 1fr);
  width: 95%;
  height: 95%;
  background-color: #111;
  border-radius: 22px;
  overflow: hidden;
}

.time {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  grid-column: 1 / span 2;
  text-align: center;
}

.length-controls {
  display: inline-block;
  padding: 10px;
}

button.length-controls {
  color: #ffffff;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.length-container {
  color: #ffffff;
  text-align: center;
}

#session-label {
  color: #ffffff;
  text-align: center;
}

button.timer-buttons {
  color: #ffffff;
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  margin-right: 20px;
}